.card--context {
    -moz-box-shadow: -2px 2px 14px -5px rgba(0,0,0,0.65);
    -webkit-box-shadow: -2px 2px 14px -5px rgba(0,0,0,0.65);
    animation: enterCard 4s linear 1s 1 normal none;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: -2px 2px 14px -5px rgba(0,0,0,0.65);
    margin: 1.5em;
    padding: 1.7em;
    transition: transform .5s ease-out;
}

.card--context:hover {
    transform: perspective(31.25rem) translateZ(1.25rem);
}

.card_context--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.card--relative {
    position: relative;
    overflow: hidden;
}

.card--flex {
    display: flex;
}

.flex--colum {
    flex-direction: column;
}

.card--flex.card--center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card--gray{
    color: #acacac;
}

.img__card {
    position: absolute;
}

.img__card.img--bottom {
    bottom: 0;
}

.img--bottom-plus {
    bottom: -27px;
}

.img__card.img--right {
    right: 0;
}

.img__card.img--left {
    left: 0;
}

.img__card.img--top {
    top: 0;
}

#rick-sit{
    transform: scaleX(-1);
}



@keyframes enterCard {
    from{
      transform: perspective( 200px ) translateZ( -45px );
    }
    to {
      transform: translateZ(0);
    }
  }