.context {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(2, 1fr ) auto; 
  gap: 10px;
  margin: 1em;
}


.context article:nth-child(8) {
    grid-column: 1/-1;
    grid-row: 4/5;
    margin: 1.5em;
}

@media only screen and ( max-width: 63.75rem) {
  .context{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3, 20rem ) auto;
  }

  .context article:nth-child(2),
  .context article:nth-child(3) {
    grid-row: 2/3;
  }

  .context article:nth-child(4),
  .context article:nth-child(5) {
    grid-row: 3/4;
  }

  .context article:nth-child(6),
  .context article:nth-child(7) {
    grid-row: 4/5;
  }

  .context article:nth-child(8) {
    grid-column: 1/-1;
    grid-row: 5/-1;
  }
  
}

@media only screen and ( max-width: 41.25rem ) {
  
  .context{
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 20rem ) auto;
  }

  .context article:nth-child( n ) {
    grid-column: 1;
  }

  .context article:nth-child( 2 ) {
    grid-row: 2/3;
  }
  .context article:nth-child( 3 ) {
    grid-row: 3/4;
  }
  .context article:nth-child( 4 ) {
    grid-row: 4/5;
  }
  .context article:nth-child( 5 ) {
    grid-row: 5/6;
  }
  .context article:nth-child( 6 ) {
    grid-row: 6/7;
  }
  .context article:nth-child( 7 ) {
    grid-row: 7/8;
  }
  .context article:nth-child(8) {
    grid-row: 8/-1;
  }

}


