.context {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(2, 1fr) auto;
  gap: 10px;
  margin: 1em;
}

.context article:nth-child(8) {
    grid-column: 1/4;
    grid-row: 4/5;
    margin: 1.5em;
}


