.nav__a {
    text-decoration: none;
    color: #36bba9;    
    font-weight: 600;
    transition: all .4s linear;
}

.nav__a:hover {
    color: #2a7e73;
}

.active {
    color: #2a7e73;
    text-decoration: underline;
}

.nav__a:nth-child(even) {
    padding: 0 0.8em;
}
