img.rick-morty {
    max-width: 11em;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 4em;
    border-bottom: 1px solid #e6e5e5;
    background-color: #ffffff;
}

.menu_mobile {
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

#menu_toggle {
    opacity: 0;
}

#menu_toggle:checked + .menu_btn > span {
    transform: rotate(45deg);
}

#menu_toggle:checked + .menu_btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu_toggle:checked + .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_box {
    display: inline;
}

.menu_btn {
    cursor: pointer;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #36bba9;
    transition-duration: .25s;
}

.menu_btn > span::before {
    content: '';
    top: -8px;
}

.menu_btn > span::after {
    content: '';
    top: 8px;
}

.menu_box {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    list-style: none;
}

.menu_item {
    padding: 12px 24px;
    font-size: 0.875rem;
    text-decoration: none;
    transition-duration: .25s;
}


@media only screen and ( max-width: 700px ) {
    .menu_mobile {
        display: inline-flex;
    }
    .menu_normal{ 
        display: none;
    }
}