.btn--status {
    border-radius: 0.625rem;
    border: none;
    margin: 0 2px;
    outline: none;
    padding: 10px;
    transition: all .2s ease-in-out;
    font-size: .8em;
    cursor: pointer;
}

.btn--status:hover {
    background-color: #e4e4e4;
}

.alive {
    color: #36bba9;
}

.dead {
    color: #d62828;
}

.unknown {
    color: #0e6ba8;
}