.section--wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section--secondary {
    color: #acacac;
}

.section--btn {
    align-self: flex-end;
}

.caption__principal span {
    margin-left: 5px;
} 

.section span,
.caption__principal h3 { 
    font-weight: 600;
}

.alive {
    color: #36bba9;
}

.dead {
    color: #d62828;
}

.unknown {
    color: #0e6ba8;
}