.card {
    -moz-box-shadow: -2px 2px 14px -5px rgba(0,0,0,0.65);
    -webkit-box-shadow: -2px 2px 14px -5px rgba(0,0,0,0.65);
    background-color: #ffffff;
    box-shadow: -2px 2px 14px -5px rgba(0,0,0,0.65);
    display: inline-flex;
    border-radius: 5px;
    flex-direction: column;
    margin: 1.5em;
    padding: 1.7em;
}

