* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, Helvetica, sans-serif;
}

body {
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: rgb(234, 234, 234);
}


.icons--wrapper{
    align-items: center;
    color: #e4e4e4;
    display: flex;
    gap: 0.625em;
    justify-content: center;
}

.icons--wrapper a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}
  
.icons--wrapper i {
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    padding: 0.3em  0.35em;
    background-color: inherit;
}

.icons--hover {
    transition: background-color .4s ease-in-out;
}
  
.icons--hover i:hover {
    background-color: rgba(194, 194, 194, .2);
}
  

::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}
  
::-webkit-scrollbar-track {
    background: #36bba9;
}

::-webkit-scrollbar-thumb {
    background: rgb(22, 22, 12);
    border: 0.15em solid rgb(194, 235, 11); 
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% / 1);
}

@media only screen and ( max-width: 550px ) {
    body {
        font-size: 12px;
    }
    
}

@media only screen and ( min-width: 1400px ) {
    body {
        font-size: 18px;
    }
}

@media only screen and ( min-width: 1600px ) {
    body {
        font-size: 22px;
    }
}

@media only screen and ( min-width: 2000px ) {
    body {
        font-size: 26px;
    }
}